/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

#login-brand {
    text-align: center;
    margin-bottom: 16px;

    img {
        max-height: 130px;
        display: block;
        margin: 0 auto;
    }

    h1 {
        font-size: 27px;
        color: color(primary);
        margin-bottom: 0px;
        margin-top: 8px;
    }
    h2 {
        font-size: 22px;
        color: color(dark);
    }
}

#login-bg {
}

.navbar {
    &-bg {
        background-color: color(primary);
    }

    &.main-navbar {
        // border-bottom: 5px solid color(danger);
    }
    &-brand {
        h1 {
            margin: 0;
            font-size: 0.85em;
        }
        h3 {
            margin: 0;
            font-size: 0.6em;
            letter-spacing: 1.5px;
        }
    }
}

.simple-footer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.table-nonfluid {
    width: auto !important;
}
